.login-icon-fragment {
    background-color:plum;
    
}

@media (max-width: 800px) {
    .login-icon-fragment {
        display: none;
    }
}

.login-box-fragment {
    background-color:rgb(202, 238, 238)

}