.sidebar-fragment {
  background-color: pink;
  overflow-y: auto;
  /* position: absolute;
  width: 100%;
  height: 100%; */
}

.chatbox-fragment {
  background-color: aquamarine;
  /* position: absolute;
  width: 100%;
  height: 100%; */
}
