.alert {
    height: 53.64px;
    position: relative;
}
.alert-danger {
    background-color: rgba(248, 215, 218, 0.8);
}
.alert div {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.make-friends-background {
	background-image: url("../images/making-friends-in-college.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* .nav-profile-text {
    min-width: 100px;
} */

.bottonlist {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottonlist .dropdown-item {
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-left: auto;
    padding-right: auto; */

    /* text-align: center; */
    position: relative;
}

/* .bottonlist .dropdown-item span{
    position: relative; 
    left: 20%;
} */

.bottonlist .dropdown-item .mdi{
    position: absolute;
    left: 27px;
    bottom: 1px;
}

.bottonlist .dropdown-divider {
    margin: 0;
}

.button-subject {
    margin: auto;
}



.modal-dialog {
    margin: auto;
}

.modal-content {
    min-width: 800px;
}

.image_area {
    position: relative;
  }

  img {
        display: block;
        max-width: 100%;
  }

.preview {
    overflow: hidden;
    width: 160px; 
    height: 160px;
    /* margin: 10px; */
    border: 1px solid red;
    transform: translateX(70px);
}
  
  .upload_image_form {
      position: relative;
      height: 170px;
  }

#upload_image {
    display: none;
}

  .image-wrapper:hover .overlay {
    opacity: 1;
  }
  
  .img-responsive {
    /* display: block; */
    width: 100%;
    height: auto;
    width: 150px;
    height: 150px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    width: 150px;
    height: 150px;
  }
  
  .overlay .text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* .navbar { overflow: hidden !important } */

.loader-wrapper {
  /* z-index: 11000; */
  /* background-color: rgba(0, 0, 0, 0.7); */
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border: 1em solid transparent;
  border-top: none;
  box-sizing: border-box;
}

.loader-wrapper div[data-testid="audio-loading"] {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* .card, .card-body {
  height: 100%;
} */
.card-fit-screen > .card-body {
  height: calc(100vh - 70px - 128px);
}

.tab-content {
  padding: 0px;
  height: calc(100% - 140px);
  /* height: 100%; */
  overflow-y: auto;
  /* overflow-y: scroll; */
}

.tab-bottonlist {
  padding-top: 0px;
  padding-bottom: 0px;
}

.tab-bottonlist .dropdown-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tab-bottonlist a {
  padding: 10px;
}

.inline-spinner-wrapper {
  margin: 15px;
  text-align: center;
}
.cursor-text {
  cursor: text;
}

tbody[data-test="table-body"] tr:hover {
  cursor: pointer;
}

.chatroom-list-content {
  margin: 0px 20px;
}

.chatroom-list-content .msgOverview {
  height: 34px;
  white-space: initial;
  word-break: break-all;
  overflow: hidden;
}

.system-message {
  padding: 5px 20px;
  text-align: center;
}

.system-message div {
  margin: auto;
  padding: 20px;
  /* width: 50%; */
  word-break: break-all;
}

.chatroom-homepage {
  /* padding: 70px 0; */
  text-align: center;
  
}

.chatroom-homepage div {
  padding: 80px 0px;
}

.chatroom-homepage div .brand-logo {
  text-align: center;
  padding: 0px 80px;
}

.special-theme-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 245px;
}

.special-theme-container div {
  display: inline-block;
  /* white-space: nowrap; */
  padding-right: 10px;
  vertical-align:top;
}

.special-theme-container div .stretch-card-custom .card-body {
  width: 270px;
  height: 230px;
  overflow: hidden;
}

.special-theme-container div .stretch-card-custom .card-body h2 {
  white-space: normal;
  /* height: 73px; */
}

/* Scroll bar */
.special-theme-container::-webkit-scrollbar, .tab-content::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #e4e4e9; /* or add it to the track */
}

.special-theme-container::-webkit-scrollbar-thumb, .tab-content::-webkit-scrollbar-thumb {
  background: #868e96;
}

.card-body {
  overflow: auto;
}

.badge-sm {
  font-size:small;
}

.badge-md {
  font-size: medium;
}

.modal {
  -ms-transform: translate(-5%, 0%);
  transform: translate(-5%, 0%);
}

.modal-user-profile {
  height: 80vh;
  overflow: scroll;
}

.userSidebar-img {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.bg-inverse-danger {
  background-color: #FFE5EA;
  color: #FE7C96;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}